@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@700&display=swap');
/*Base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 50%;
}

/*Utilities*/

.container{
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/*Header & Nav*/

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.nav{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-item{
    margin-right: 5rem;
}
.nav-item:last-child{
    margin: 0;
}
.nav-link{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
    transition: opacity 0.3s;
}

.nav-link:hover{
    opacity: 0.6;
}

.logo{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    color: #EF4F4F;
}

/*Main content*/

.landing-page{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #FFC2B4,#FF8882);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1;
}
.landing-page:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: inherit;
    height: 100vh;
    background-image: url("./images/bg-pat.png");
    background-size: cover;
    background-repeat: no-repeat ;
    opacity: 0.4;
    z-index: -1;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.content-details{
    max-width: 80%;

}

.title{
    font-size: 6rem;
    color: #262A53;
    margin-bottom: 1rem;
}

.description{
    color: white;
    margin-bottom: 2.5rem;
}

.sm-list{
    display: flex;
}
.sm-link{
    color: white;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    margin-right: 2.5rem;
}

.sm-link i{
    margin: auto;
}

.sm-link:hover{
    background-color: #EF4F4F;
    color: white;
    border-color:#EF4F4F ;
}

.rat{
    filter: hue-rotate(45deg);
    animation: race1 10s forwards;
}
.rat1{
    animation: race2 10s forwards;
}
.rat2{
    filter: hue-rotate(235deg);
    animation: race3 10s forwards;
}


@media screen and (max-width:768px) {
    .nav{
        align-items: center;
    }
    .content{
        grid-template-columns: 1fr;
    }
    .content-details{
        order: 1;
        max-width: 100%;
    }
    .title{
    font-size: 3.5rem;
    margin-top: 5rem;
    }
    .description{
        font-size: 1.4rem;
    }
    .image-group{
        margin-top: 10rem;
    }

    
}

@keyframes race1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100px);
    }
}
@keyframes race2{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }
}
@keyframes race3{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(150px);
    }
}